<div class="comment">

    <p class="comment-content"><%= comment.content %></p>
    <div class="container-comment">
        <p class= "comment-posted">Posted by <%= comment.author %> <%= time_ago_in_words(comment.created_at) %> ago</p>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_video_comment_path(comment.video, comment) %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, video_comment_path(comment.video, comment), method: :delete, data: {confirm: "Você tem certeza?"}%>
    </div>
</div>