<h2><%= @category.name %></h2>

<ul>
    <% @videos.each do |video| %>
        <li><%= link_to "#{video.title}", video_path(video) %></li>
    
    <% end %>
</ul>


<%= link_to "Voltar", root_path %>
<%= link_to "Editar", edit_category_path(@category) %>
<%= link_to "Deletar", category_path(@category), method: :delete, data: {confirm: "Você tem certeza?"}%>